
  div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 25%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  :root  {
    /* Primary color shades */
    --md-primary-fg-color: #686767;
    --md-primary-fg-color--light: #6e6e6e;
    --md-primary-fg-color--dark: #8b8b8b;
    --md-primary-bg-color: rgb(255, 255, 255);
    --md-primary-bg-color--light: hsla(0, 0%, 100%, 0.7);
    --md-text-link-color: hsla(231, 48%, 48%, 1);

    /* Accent color shades */
    --md-accent-fg-color: rgb(0, 153, 255);
    --md-accent-fg-color--transparent: hsla(189, 73%, 40%, 0.1);
    --md-accent-bg-color: rgb(117, 115, 115);
    --md-accent-bg-color--light: hsla(0, 0%, 100%, 0.7);
  }
  
